@font-face {
    font-family: Disolve;
    src: url('../fonts/Disolve_regular.ttf');
  }

@font-face {
    font-family: CosmicNeue;
    src: url('../fonts/ComicNeue-Light.ttf');
  }


  
  html {
    scroll-behavior: smooth
}

  body { 
    background: url('../images/background3.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: #000000;
    overflow-x: hidden;
    overflow-y: auto;
  }

.main-back{
    height: 100vh;
    overflow: auto;
}

.navbar{
    background: transparent!important;
}

.navbar-brand{
    font-family: disolve!important;
    font-size: xx-large !important;
    
}

.navbar a{
    color: white!important;
    font-size: large;
    text-shadow: 2px 2px 5px rgb(255, 255, 255)!important;
}

.custom-container{
    padding: 5rem;
    overflow-x: hidden;
}

.title h1{
    font-family: CosmicNeue;
    font-size: 3rem;
    color: white;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    text-align: center;
}

.title{
    display: flex;
    align-self: center;
    align-content: center;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    padding-top: 15%;
}

.skills-card{
    background: rgba(0, 0, 0, 0.9);
}

.about-card{
    background: transparent;
}

.logo img{
    width: 150px;
    height: 100px;
}

.logo img:hover{
    transform: scale(1.5); 
}

.logo{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.head-row{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.row-about-body{
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: flex-end;
    align-items: center;
    flex-direction: column;
    align-self: center;
    justify-self: center;
}

hr{
    border: 0.1px solid white;
    
}

.head-row h1{
    font-family: CosmicNeue;
    font-size: 3rem;
    color: white;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
}

.me-card{
    background: rgba(0, 0, 0, 0.9);
    margin-top: 0.5rem;
}

.me-card h6{
    color: white;
}


.main-body{
    margin: auto;
    position: absolute;
}

.p-card{
    background: rgba(6, 4, 20, 0.9) !important;
}

.p-card-main{
    background: rgba(0, 0, 0, 0.9) !important;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.links i{
    color: white;
    padding: 20px;
}

.links i:hover{
    transform: scale(1.5); 
}

.mail{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mail p{
    color:white;
}

.mail a:hover{
    transform: scale(1.5);
}

@media only screen and (max-device-width: 480px) {
    html {
      height: calc(100% + 60px);
      min-height: calc(100% + 60px);
    }
}