@font-face {
    font-family: Disolve;
    src: url('../fonts/Disolve_regular.ttf');
  }

@font-face {
    font-family: CosmicNeue;
    src: url('../fonts/ComicNeue-Bold.ttf');
  }


  body { 
    background: url('../images/background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: auto;
  }

.main-back{
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.navbar{
    background: transparent!important;
}

.navbar-brand{
    font-family: disolve!important;
    font-size: xx-large !important;
    
}

.navbar a{
    color: white!important;
    font-size: large;
    text-shadow: 2px 2px 5px rgb(255, 255, 255)!important;
}

.custom-container{
    padding: 2rem;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.title h1{
    font-family: CosmicNeue;
    font-size: 3rem;
    color: white;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    text-align: center;
}

.title{
    display: flex;
    align-self: center;
    align-content: center;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    padding-top: 30%;
}

.card{
    background: rgba(0, 0, 0, 0.884);
}


.logo img{
    width: 150px;
    height: 100px;
}

.logo{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.head-row{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

hr{
    border: 1px solid white;
    
}

.head-row h1{
    font-family: CosmicNeue;
    font-size: 3rem;
    color: white;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
}

